* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.headerDiv {
    display: flex;
    background-color: blue;
    padding: 15px;
    color: white;
    justify-content: space-between;
    align-items: center;

}

.head {
    display: flex;
    list-style-type: none;
    font-size: 22px;
    justify-content: space-between;

}

.list {
    margin-left: 20px;
    padding: 5px;
}

a:hover {
    background-color: gray;
    color: red;
    /* transition: 2s; */
}

.link {
    text-decoration: none;
    color: white;
}

.home {
    background-color: #000080;
    height: 500px;
    display: flex;
}

.left {
    /* background-color: #000080	; */
    width: 50%;
    height: 500px;
}

.text {
    margin-top: 20%;
    /*font-size: 30px;*/
}

.text p {
    margin-top: 10%;
    font-size: 30px;
    color: white;
}

.text h1 {
    margin-top: 1%;
    font-size: 50px;
    color: white;
}

.left h1 span {
    color: red;
}

.right {
    /* background-color:  #000080	; */
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.right img {

    width: 400px;
    height: 500px;
    margin-bottom: 150px;
}

.Programming {
    background-color: blue;
    width: 100%;
    height: 50px;
    padding: 10px;
    color: white;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

.about {
    display: flex;
    height: 600px;
    background-color: #000080;
}

.Labout {
    width: 50%;
    /* display: flex; */

}

.first {
    width: 100%;
    height: 50%;
    display: flex;
    /* background-color: red; */
}

.java {
    display: flex;
    border-radius: 30px;
    width: 250px;
    height: 250px;
    background-color: white;
    margin: 3%;
    border: 1px solid;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.java img {
    height: 190px;
    width: 300px;
    margin-left: 7px;
    margin-top: 20px;
}

.mysql {
    display: flex;
    border-radius: 30px;
    width: 330px;
    height: 250px;
    background-color: white;
    margin: 3%;
    border: 1px solid;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mysql img {
    height: 190px;
    width: 300px;
    margin-left: 7px;
    margin-top: 20px;
    border-radius: 30px;
}

.second {
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    /* border-left: 15px; */
}

.hcj {
    display: flex;
    border-radius: 30px;
    width: 450px;
    height: 250px;
    background-color: white;
    margin: 3%;
    border: 1px solid;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hcj img {
    height: 190px;
    width: 400px;
    margin-left: 7px;
    margin-top: 20px;
}

.Rabout {
    /* background-color: lightblue; */
    width: 50%;
    justify-content: center;
    align-items: center;
}

.Rabout img {
    width: 550px;
    height: 600px;
    /* margin-bottom: 150px; */
}

.educations {
    background-color: #000080;
    height: 400px;
    display: flex;
    justify-content: center;
    color: white;
    /* font-size: px; */
}

.edu {
    /* display: flex; */
    border-radius: 30px;
    width: 400px;
    height: 300px;
    background-color: white;
    margin: 3%;
    border: 1px solid;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
}

.edu1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: black;
    height: 80%;
    width: 100%;
    border-radius: 30px 30px 0 0;

    /* border-spacing: 1cm; */
}

.edu-txt {
    text-align: center;
    font-size: 30px;
    padding: 10px 20px;
    background-color: plum;
    border-radius: 0 0 30px 30px;
    height: 20%;
    width: 100%;
}

dt {
    font-style: oblique;
    font-weight: bold;
    font-size: 23px;
    color: purple;
}

dd {
    font-style: oblique;
    font-size: 23px;
    color: cadetblue;
}

.proj {
    /* display: flex; */
    border-radius: 30px;
    width: 400px;
    height: 300px;
    background-color: white;
    margin: 3%;
    border: 1px solid;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
}

.proj1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 80%;
    width: 100%;
    border-radius: 30px 30px 0 0;
    border-spacing: 1cm;
}

.proj-txt {
    text-align: center;
    font-size: 30px;
    padding: 10px 20px;
    background-color: plum;
    border-radius: 0 0 30px 30px;
    height: 20%;
    width: 100%;
    /* padding: 10px;  */
}

.cont{
    background-color: #000080;
    justify-content: center;
    display: flex;
    
}

.rcont {
    background-color: #000080;
    /* justify-content: center; */ 
    display: flex;
    color: white;
    font-size: 20px;
    padding: 15px;
    width:60%;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

footer {
    background-color: blue;
    display: flex;
    padding: 15px;
    color: white;
    justify-content: center;
    align-items: center;
}
.lcont{
    width: 50%;
    color: white;
    margin-left: 30px;
    /* margin-top: 20px; */
    text-decoration: none;
    align-items: last baseline;
}
.faltu{
    width: 50%;
        text-align: center;
        /* padding: 25px 0; */
        color: white;
        font-weight: 300;
}
.social_icon{
    width:50% ;
    font-size: 30px;
    /* margin-right: 15px; */
    color: #ababab;
    display: flex;
    justify-content:space-evenly;
    transition: transform 0.5s;
}
.p{
    display: block;
    /* margin-block-start: 1em; */
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    padding-top:10px ;
}
 /* .download{
    margin-left: 50px;
} */
/* .cv {
    padding-top: 6px;
} */
.btn.btn2 {
    display: inline-block;
    background-color: #04AA6D;
    text-decoration: none;
    /* width: 35%; */
    text-align: center;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px; 
}